/* FarmInfo.css */
.container {
  padding: 20px;
  background-color: white;
}

.tabContainer {
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 16px;
}

.tab {
  padding: 10px 20px;
  borderWidth: 1px;
  borderColor: gray;
  borderRadius: 8px;
}

.activeTab {
  backgroundColor: #007AFF;
}

.tabText {
  color: black;
  fontWeight: bold;
}

.sectionTitle {
  fontSize: 18px;
  fontWeight: bold;
  marginBottom: 8px;
}

.weatherBox {
  marginBottom: 20px;
  padding: 10px;
  borderWidth: 1px;
  borderColor: #ccc;
  borderRadius: 8px;
}

.subInfo {
  fontSize: 12px;
  color: gray;
}

.loading {
  fontStyle: italic;
  color: gray;
}
